@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

body{
  background-color: #1a1a1a;
  font-family: 'Open Sans';
  user-select: none;
}

#navbar{
  background-color: transparent;
  padding-top: 20px;
  /* transition: transform 0.3s ease-in-out;
  transform: translateY(0);  */
  
  transition: top 0.5s;
}

#navbar.hidden{
  transform: translateY(-100%);
}

@media(max-width: 768px){
  #nav-content{
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }
}



#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/public/glass\ depth-3.png),  url(/public/glass\ depth-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  
}


#home{
  /* display: flex;
  flex-direction: column;
  gap: 5px; */

  position: absolute;
  top: 3%;
  left: 15%;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-size: 70px;
}

.intro{
  color: white;
  font-size: 70px;
  position: absolute;
  top: 75%;
  left: 15%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

#profile{
  margin-left: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#contactHome{
  border: none;
  box-shadow: 5px;

  border-radius: 8px;
  color: white;
  background-color: #1a1a1a;
  width: 300px;
  height: auto;
  padding: 20px 30px;
}

#social:hover{
  background-color: white;
  color: black;
  font-weight: 400;

  transition: 0.2s ease-in;
}









