@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

body{
  background-color: #1a1a1a;
  font-family: 'Open Sans';
  user-select: none;
}

#navbar{
  background-color: transparent;
  padding-top: 20px;
  /* transition: transform 0.3s ease-in-out;
  transform: translateY(0);  */
  
  transition: top 0.5s;
}

#navbar.hidden{
  transform: translateY(-100%);
}

@media(max-width: 768px){
  #nav-content{
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }
}



#parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/public/glass\ depth-3.png),  url(/public/glass\ depth-1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  
}


#home{
  /* display: flex;
  flex-direction: column;
  gap: 5px; */

  position: absolute;
  top: 3%;
  left: 15%;
  /* transform: translate(-50%, -50%); */
  color: white;
  font-size: 70px;
}

.intro{
  color: white;
  font-size: 70px;
  position: absolute;
  top: 75%;
  left: 15.3%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

#profile{
  margin-left: 250px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

#contactHome{
  border: none;
  box-shadow: 5px;

  border-radius: 8px;
  color: white;
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 20px 30px;
}

#social {
  transition: background-color 0.4s ease, color 0.4s ease, font-weight 0.4s ease;
}

#social:hover {
  background-color: whitesmoke;
  color: black;
  font-weight: 400;
}


#resume{
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 600;
  background-color: rgb(21, 20, 20);

  transition: background-color 0.4s ease, color 0.4s ease, font-weight 0.4s ease;


}



#resume:hover{
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

#about{
  padding-top: 30px;
  padding-right: 30px;
  background: rgba(26, 26, 26, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(26, 26, 26, 0.24);
}







