@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

#navbar{
  background-color: transparent;
  padding-top: 20px;
}


@media(max-width: 768px){
  #nav-content{
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }
}

